.Text-Upercasse{

    font-style: normal;
    text-transform: uppercase;
    margin: 0 auto;
    

}


.Text-Center{

    
    color: dodgerblue;
    
    position: relative;
    text-align: center;
    
    
    
}

